<p style="color: green"><%= notice %></p>
<div class="container p-5 mb-3 btn btn-primary">
  <div class="row">
    <div class="col">
    <h1>Posts</h1>
    </div>
  </div>
</div>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
